@font-face {
  font-family: 'SuiesseInt';
  src: url(./SuisseIntl-Book_1.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'SuiesseInt-Bold';
  src: url(./SuisseIntl-Bold.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Menlo';
  src: url(./Menlo-Regular.woff);
  font-weight: normal;
}